#root{
    overflow: hidden;
}
.first-page{
    background-color:#eee; 
}
.search-input{
    position: sticky;
    display: flex;
    background-color:#fff;
    z-index: 999; 
    justify-content: space-between;
    top: 0;
    .ant-radio-group {
        flex: 1
    }
}
.ul {
    padding: 0;
    overflow: scroll;
    li{
        list-style-type: none;
        margin: 12px 0;
        font-size: 14px;
        text-align: left;
        img{
            border-radius: 2px;
            width: 30%
        }
    }
}